meta {
  name: [[.Request]]
  type: http
  seq: [[.Seq]]
}

post {
  url: {{baseUrl}}[[.Route]]
  body: json
  auth: none
}
[[if .Secured.Create]]
headers {
  Cookie: {{[[.SessionVar]]}}
}
[[end]]
body:json {
[[template "body" .Fields]]}

assert {
  res.status: eq 201
}

tests {
  test("returns a non-empty id[[if .HasFields]] and echoes the fields[[end]]", function () {
    const body = res.getBody();
    expect(body.id).to.be.a("string").and.not.empty;
[[range .Fields]]    [[.BruExpect]];
[[end]]    expect(body.createdAt).to.be.a("string").and.not.empty;
  });
}

script:post-response {
  if (res.status === 201) {
    bru.setVar("[[.IDVar]]", res.body.id);
  }
}
